@model IEnumerable<DataAccesse_Layer.Doctors>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-controller="Doctors" asp-action="add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoctorsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorsID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassoutYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qualification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Addresss)
            </th>
            <th>@Html.DisplayNameFor(model => model.LocationId)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorsID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassoutYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qualification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Addresss)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DoctorsID }) |
                @Html.ActionLink("Details", "Details", new { id = item.DoctorsID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DoctorsID })
            </td>
        </tr>
}
    </tbody>
</table>
